body {
  padding-top: 50px;
  font-family: "Arimo", sans-serif;
  background-color: #474747; }

.header {
  background: white;
  padding-top: 9px; }

.header a:hover {
  font-size: 13px;
  color: #333333; }

.tiles {
  max-width: 100%;
  max-height: 100%;
  display: block;
  margin: auto;
  padding-left: 0px;
  padding-right: 0px; }

.sub-tiles {
  max-width: 100%;
  max-height: 100%;
  display: block;
  margin: auto;
  padding-left: 0px;
  padding-right: 0px;
  position: relative; }

.text {
  position: absolute;
  z-index: 1;
  bottom: 40%;
  left: 29%; }

.flexbox {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center; }

.glg-1 {
  font-size: 13px;
  color: #333333; }

.glg-2 {
  font-size: 13px;
  color: #818181; }

.glg-3 {
  font-size: 13px;
  color: #333333; }

.glg-4 {
  font-size: 24px;
  color: black; }

.glg-5 {
  font-size: 36px;
  color: white; }

.glg-6 {
  font-size: 18px;
  color: white; }

.glg-7 {
  font-size: 14px;
  color: white; }

.glg-8 {
  font-size: 18px;
  color: white; }

.glg-9 {
  font-size: 36px;
  font-weight: bold;
  color: white; }

.glg-10 {
  font-size: 18px;
  color: white; }

.glg-11 {
  font-size: 18px;
  color: #717171; }

.glg-12 {
  font-size: 18px;
  color: white; }

.glg-13 {
  font-size: 12px;
  color: #474747; }

.spacedGrid {
  background-color: #474747;
  margin-top: 50px;
  margin-bottom: 50px; }

.spacedGrid a:hover {
  font-size: 18px;
  color: #717171; }

.spacedTile {
  margin-top: 10px;
  margin-bottom: 10px; }

.footer {
  background-color: black;
  padding-top: 12px;
  padding-bottom: 12px; }

.footer i:hover {
  color: #717171; }

.darken {
  opacity: .15; }
